services:
  app:
    container_name: app
    build:
      context: .
    env_file:
      - .env
    volumes:
      - .:/app
      - /app/node_modules
      - /app/dist
      - ./dev.db:/app/dev.db
    ports:
      - "3000:3000"
    command: ["sh", "-c", "npx prisma generate && npx prisma migrate deploy && npm start"]
